header {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .menu {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &-items {
      display: flex;
      gap: 1rem;
    }
  }
}
