@use "../../../../_variables.scss";

header {
  background-color: variables.$primary-light;
  color: variables.$white;
  padding: 0 0.25rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;

    &-items {
      display: flex;
      gap: 2rem;
    }

    a {
      text-decoration: none;
      color: variables.$white;
      text-transform: uppercase;
      padding: 0 1rem;
      border-radius: 0.25rem;
    }

    .selected {
      background-color: variables.$primary-super-light;
    }
  }
}
