@use "../../../../_variables.scss";

header {
  background-color: variables.$primary-light;
  color: variables.$white;
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &-items {
      display: flex;
      gap: 1rem;
    }

    a {
      text-decoration: none;
      color: variables.$white;
    }
  }
}
