<header>
  <div class="menu">
    <a routerLink="/laboratories">
      <h1>INPECO</h1>
    </a>
    <h2>Overwatch</h2>
    <div class="menu-items">
      <a
        routerLink="/laboratories"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <p>WorkSpace</p>
      </a>
      <a
        routerLink="/monitor"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p>Monitor</p>
      </a>
    </div>
  </div>
  <p>V. 8.0.0</p>
</header>
