<div class="sidebar">
  <!-- [(ngModel)]="searchTerm" -->

  <input type="text" placeholder="Search..." class="search-input" />

  @for (lab of tree.children || []; track lab.id) {
  <a [routerLink]="['/laboratories', lab.id]" class="laboratory">{{
    lab.name
  }}</a>

  @if (lab.id === currentLabId) {
  <ul>
    @for (layout of lab.children; track layout.id) {
    <li>
      <a
        [routerLink]="['/laboratories', lab.id, 'layout', layout.id]"
        class="layout"
      >
        ↳ {{ layout.name }}
      </a>

      @if (layout.id === currentLayoutId) {
      <ul>
        @for (scenario of layout.children; track scenario.id) {
        <li>
          <a
            class="scenario"
            [routerLink]="[
              '/laboratories',
              lab.id,
              'layout',
              layout.id,
              'scenario',
              scenario.id
            ]"
          >
            ↳ {{ scenario.name }}
          </a>
        </li>
        }
      </ul>
      }
    </li>
    }
  </ul>
  } }
</div>
