//Screens
$phone: 576px;
$tablet: 768px;
$desktop: 1200px;
$large-desktop: 1200px;

//Colors
$primary: #00a9db;
$primary-light: #4eccee;
$primary-super-light: #9be0f3;
$primary-dark: #008ab9;

//Neutral Colors
$black: #15181b;
$white: #ffffff;
$grey: #35383b;
$light-grey: #e3e7eb;

//Status Colors
$success: #5ae25a;
$warning: #e97b0c;
$error: #e22d2d;
